.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
} 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.token-wrapper {
  position: relative;
}

.token-list {
  font-family: sans-serif;
  box-sizing: border-box;
  border: 1px solid #aaa;
  background: #FFFFFF;
  list-style: none;
  padding: 0 0 5px 5px;
  margin: 0;
}

ul.token-list li {
  float: left;
  display: inline-block;
  padding: 3px 6px 5px 5px;
  border: 1px solid #B3B6ED;
  margin: 5px 5px 0 0;
  background: #C6E0F5;
  border-radius: 4px;
  font-size: 15px;
}

ul.token-list li.token-input {
  background: none;
  border: none;
  padding-left: 0;
}

ul.token-list li.token-input input {
  outline: none;
  border: 0;
  font-size: 14px;
  padding: 0; margin: 0;
}

li.token a.token-close {
  margin-left: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: #898989;
}

li.token a.token-close:hover {
  color: #222;
}

ul.autocomplete {
  list-style: none;
  padding: 0;
  position: absolute;
  border: 1px solid #555;
  background: #fff;
}

ul.autocomplete li {
  padding: 5px 10px;
}

ul.autocomplete li.selected {
  background: #ddd;
}

ul.autocomplete span.autocomplete-search {
  text-decoration: underline;
  font-weight: bold;
}
