/*
 * Example tokenlist styling
 */

ul.autocomplete li.highlight:not(.selected) {
  background-color: cornflowerblue;
  color: white;
}

li.token lia.token-close:hover {
  color: #222;
}

ul.token-list > li {
  background-color: #C6E0F5;
}

ul.autocomplete {
  max-height: 128px;
}